---

- name: Gather distribution info
  ansible.builtin.setup:
      gather_subset: distribution,!all,!min
  when:
      - ansible_facts.distribution is not defined
  tags:
      - always

- name: Check OS version and family
  ansible.builtin.assert:
      that: (ansible_facts.distribution != 'CentOS' and ansible_facts.os_family == 'RedHat' or ansible_facts.os_family == "Rocky") and ansible_facts.distribution_major_version is version_compare('8', '==')
      fail_msg: "This role can only be run against RHEL/Rocky 8. {{ ansible_facts.distribution }} {{ ansible_facts.distribution_major_version }} is not supported."
      success_msg: "This role is running against a supported OS {{ ansible_facts.distribution }} {{ ansible_facts.distribution_major_version }}"
  when:
      - not skip_os_check
  tags:
      - always

- name: Check ansible version
  ansible.builtin.assert:
      that: ansible_version.full is version_compare(rhel8stig_min_ansible_version, '>=')
      fail_msg: "You must use Ansible {{ rhel8stig_min_ansible_version }} or greater"
      success_msg: "This role is running a supported version of ansible {{ ansible_version.full }} >= {{ rhel8stig_min_ansible_version }}"
  tags:
      - always

- name: Setup rules if container
  block:
      - name: Discover and set container variable if required
        ansible.builtin.set_fact:
            system_is_container: true

      - name: Load variable for container
        ansible.builtin.include_vars:
            file: "{{ container_vars_file }}"

      - name: Output if discovered is a container
        ansible.builtin.debug:
            msg: system has been discovered as a container
        when:
            - system_is_container
  when:
      - ansible_connection == 'docker' or
        ansible_facts.virtualization_type in ["docker", "lxc", "openvz", "podman", "container"]
  tags:
      - container_discovery
      - always

- name: "Check password set for connecting user"
  block:
      - name: Capture current password state of connecting user"
        ansible.builtin.shell: "grep {{ ansible_env.SUDO_USER }} /etc/shadow | awk -F: '{print $2}'"
        changed_when: false
        failed_when: false
        check_mode: false
        register: ansible_user_password_set

      - name: "Assert that password set for {{ ansible_env.SUDO_USER }} and account not locked"
        ansible.builtin.assert:
            that: ansible_user_password_set.stdout | length != 0 and ansible_user_password_set.stdout != "!!"
            fail_msg: "You have {{ sudo_password_rule }} enabled but the user = {{ ansible_env.SUDO_USER }} has no password set - It can break access"
            success_msg: "You have a password set for the {{ ansible_env.SUDO_USER }}"
        vars:
            sudo_password_rule: RHEL-08-010380  # pragma: allowlist secret
  when:
      - rhel_08_010380
      - ansible_env.SUDO_USER is defined
      - not system_is_ec2
  tags:
      - user_passwd

- name: "Ensure superuser for grub does not match existing user"
  block:
      - name: "Ensure superuser for grub does not match existing user | capture users"
        ansible.builtin.shell: cat /etc/passwd | cut -d':' -f1
        changed_when: false
        failed_when: false
        check_mode: false
        register: rhel8stig_user_list

      - name: "Ensure superuser for grub does not match existing user"
        ansible.builtin.assert:
            that: rhel8stig_boot_superuser not in rhel8stig_user_list.stdout_lines
            fail_msg: "A unique name must be used for bootloader access user='{{ rhel8stig_boot_superuser }}' already exists refer to variable rhel8stig_boot_superuser"
  when:
      - rhel_08_010141 or
        rhel_08_010149
  tags:
      - RHEL-08-010141
      - RHEL-08-010149

- name: Include OS specific variables
  ansible.builtin.include_vars:
      file: "{{ ansible_facts.distribution }}.yml"
  tags:
      - always

- name: Check rhel8stig_bootloader_password_hash variable has been changed
  ansible.builtin.assert:
      that: rhel8stig_bootloader_password_hash != 'grub.pbkdf2.sha512.changethispassword'  # pragma: allowlist secret
      msg: "This role will not be able to run single user password commands as rhel8stig_bootloader_password_hash variable has not been set"  # pragma: allowlist secret

  when:
      - not system_is_ec2
      - not system_is_container
      - rhel_08_010140 or
        rhel_08_010150
  tags:
      - grub

- name: Check if using resolv.conf template settings are changed
  ansible.builtin.assert:
      that:
          - rhel8_stig_resolv_domain != 'example.com'
          - rhel8_stig_resolv_search | length > 0
      msg: "You are set to change your resolv.conf file this can be very disruptive if not configured correctly"

  when:
      - rhel8_stig_use_resolv_template
      - rhel_08_010680
  tags:
      - always

- name: Gather the package facts
  ansible.builtin.package_facts:
      manager: auto
  tags:
      - always

- name: Include prelim tasks
  ansible.builtin.import_tasks:
      file: prelim.yml
  tags:
      - prelim_tasks
      - run_audit

- name: Include CAT I patches
  ansible.builtin.import_tasks:
      file: fix-cat1.yml
  when: rhel8stig_cat1_patch
  tags:
      - CAT1
      - high

- name: Include CAT II patches
  ansible.builtin.import_tasks:
      file: fix-cat2.yml
  when: rhel8stig_cat2_patch
  tags:
      - CAT2
      - medium

- name: Include CAT III patches
  ansible.builtin.import_tasks:
      file: fix-cat3.yml
  when: rhel8stig_cat3_patch
  tags:
      - CAT3
      - low

- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Reboot system
  block:
      - name: Reboot system if not skipped
        ansible.builtin.reboot:
        when:
            - change_requires_reboot
            - not rhel8stig_skip_reboot

      - name: Warning a reboot required but skip option set
        ansible.builtin.debug:
            msg: "Warning!! changes have been made that require a reboot to be implemented but skip reboot was set - Can affect compliance check results"
        changed_when: true
        when:
            - change_requires_reboot
            - rhel8stig_skip_reboot

- name: Run post remediation audit
  ansible.builtin.import_tasks:
      file: post_remediation_audit.yml
  when:
      - run_audit
  tags:
      - run_audit

- name: Show Audit Summary
  ansible.builtin.debug:
      msg: "{{ audit_results.split('\n') }}"
  when:
      - run_audit
  tags:
      - run_audit
