---

- name: Gather distribution info
  setup:
      gather_subset: distribution,!all,!min
  when:
      - ansible_distribution is not defined
  tags:
      - always

- name: Check OS version and family
  assert:
      that: (ansible_distribution != 'CentOS' and ansible_os_family == 'RedHat' or ansible_os_family == "Rocky") and ansible_distribution_major_version is version_compare('8', '==')
      fail_msg: "This role can only be run against RHEL/Rocky 8. {{ ansible_distribution }} {{ ansible_distribution_major_version }} is not supported."
      success_msg: "This role is running against a supported OS {{ ansible_distribution }} {{ ansible_distribution_major_version }}"
  when:
      - not skip_os_check
  tags:
      - always

- name: Check ansible version
  assert:
      that: ansible_version.full is version_compare(rhel8stig_min_ansible_version, '>=')
      fail_msg: "You must use Ansible {{ rhel8stig_min_ansible_version }} or greater"
      success_msg: "This role is running a supported version of ansible {{ ansible_version.full }} >= {{ rhel8stig_min_ansible_version }}"
  tags:
      - always

- name: Setup rules if container
  block:
      - name: Discover and set container variable if required
        set_fact:
            system_is_container: true

      - name: Load variable for container
        include_vars:
            file: "{{ container_vars_file }}"

      - name: output if discovered is a container
        debug:
            msg: system has been discovered as a container
        when:
            - system_is_container
  when:
      - ansible_connection == 'docker' or
        ansible_virtualization_type in ["docker", "lxc", "openvz", "podman", "container"]
  tags:
      - container_discovery
      - always

- name: Check rhel8stig_bootloader_password_hash variable has been changed
  assert:
      that: rhel8stig_bootloader_password_hash != 'grub.pbkdf2.sha512.changethispassword'
      msg: "This role will not be able to run single user password commands as rhel8stig_bootloader_password_hash variable has not been set"

  when:
      - not system_is_ec2
      - not system_is_container
      - rhel_08_010140 or
        rhel_08_010150
  tags:
      - grub

- name: Check if using resolv.conf template settings are changed
  assert:
      that:
          - rhel8_stig_resolv_domain != 'example.com'
          - rhel8_stig_resolv_search | length > 0
      msg: "You are set to change your resolv.conf file this can be very disruptive if not configured correctly"

  when:
      - rhel8_stig_use_resolv_template
      - rhel_08_010680
  tags:
      - always

- name: Gather the package facts
  package_facts:
      manager: auto
  tags:
      - always

- import_tasks: prelim.yml
  become: yes
  tags:
      - prelim_tasks
      - run_audit

- import_tasks: pre_remediation_audit.yml
  when:
      - run_audit
      - setup_audit
  tags:
      - run_audit

- name: Include CAT I patches
  import_tasks: fix-cat1.yml
  when: rhel8stig_cat1_patch
  tags:
      - CAT1
      - high

- name: Include CAT II patches
  import_tasks: fix-cat2.yml
  when: rhel8stig_cat2_patch
  tags:
      - CAT2
      - medium

- name: Include CAT III patches
  import_tasks: fix-cat3.yml
  when: rhel8stig_cat3_patch | bool
  tags:
      - CAT3
      - low

- name: trigger update sysctl
  command: /bin/true
  changed_when: rhel8stig_trigger_update_sysctl.rc == 0
  check_mode: false
  register: rhel8stig_trigger_update_sysctl
  notify: update sysctl
  tags:
      - CAT1
      - CAT2
      - CAT3

- name: flush handlers
  meta: flush_handlers
  tags:
      - CAT1
      - CAT2
      - CAT3

- name: reboot system if changes require it and not skipped
  block:
      - name: reboot system if changes require it and not skipped
        reboot:
        when:
            - change_requires_reboot
            - not rhel8stig_skip_reboot

      - name: Warning a reboot required but skip option set
        debug:
            msg: "Warning!! changes have been made that require a reboot to be implemented but skip reboot was set - Can affect compliance check results"
        changed_when: true
        when:
            - change_requires_reboot
            - rhel8stig_skip_reboot
  tags:
      - CAT1
      - CAT2
      - CAT3

- import_tasks: post_remediation_audit.yml
  when:
      - run_audit

- name: Show Audit Summary
  debug:
      msg: "{{ audit_results.split('\n') }}"
  when:
      - run_audit
  tags:
      - run_audit
