---

- name: change_requires_reboot
  ansible.builtin.set_fact:
      change_requires_reboot: true

- name: systemctl daemon-reload
  ansible.builtin.systemd:
      daemon_reload: true
  when:
      - not system_is_container

- name: Restart_systemdlogin
  ansible.builtin.systemd:
      name: systemd-logind
      state: restarted

- name: sysctl system
  ansible.builtin.shell: sysctl --system
  when: "'procps-ng' in ansible_facts.packages"

- name: restart sshd
  ansible.builtin.service:
      name: sshd
      state: restarted
  when:
      - rhel_08_040159
      - not rhel8stig_system_is_chroot
      - "'openssh-server' in ansible_facts.packages"
      - not change_requires_reboot

- name: restart sssd
  ansible.builtin.service:
      name: sssd
      state: restarted
  when:
      - "'sssd' in ansible_facts.packages"

- name: restart snmpd
  ansible.builtin.service:
      name: snmpd
      state: restarted
  when:
      - not rhel8stig_system_is_chroot
      - not change_requires_reboot

- name: restart rngd
  ansible.builtin.service:
      name: rngd.service
      state: restarted
  when:
      - rhel_08_010471

- name: restart rsyslog
  ansible.builtin.service:
      name: rsyslog
      state: restarted
  when:
      - rhel_08_010561

- name: restart firewalld
  ansible.builtin.service:
      name: firewalld
      state: restarted
  when: rhel_08_040101

- name: restart fapolicyd
  ansible.builtin.service:
      name: fapolicyd
      state: restarted
  when: rhel_08_040136

- name: generate fapolicyd rules
  ansible.builtin.shell: fagenrules --load
  when: rhel_08_040137_rules_dir.stat.exists

- name: restart usbguard
  ansible.builtin.service:
      name: usbguard
      state: restarted
  when: rhel_08_040141

- name: confirm grub2 user cfg
  ansible.builtin.stat:
      path: "/etc/grub.d/01_users"
  changed_when: rhel8stig_grub2_user_cfg.stat.exists
  register: rhel8stig_grub2_user_cfg
  notify: make grub2 config

- name: make grub2 config
  ansible.builtin.shell: /usr/sbin/grub2-mkconfig --output={{ rhel8stig_bootloader_path }}/grub.cfg
  when:
      - rhel8stig_grub2_user_cfg.stat.exists
      - not rhel8stig_skip_for_travis
      - not system_is_container

- name: copy grub2 config to BIOS/UEFI to satisfy benchmark
  listen: make grub2 config
  ansible.builtin.copy:
      src: "{{ rhel8stig_bootloader_path }}/grub.cfg"
      dest: "{{ rhel8stig_bootloader_path }}/grub.cfg"
      remote_src: true
      owner: root
      group: root
      mode: '0755'
  when:
      - rhel8stig_grub2_user_cfg.stat.exists
      - rhel8stig_workaround_for_disa_benchmark
      - not rhel8stig_skip_for_travis
      - not system_is_container

- name: "restart {{ rhel8stig_time_service }}"
  ansible.builtin.service:
      name: "{{ rhel8stig_time_service }}"
      state: restarted
  when:
      - not rhel8stig_skip_for_travis
      - not rhel8stig_system_is_chroot
      - not system_is_container
      - not change_requires_reboot

- name: update auditd
  ansible.builtin.template:
      src: audit/99_auditd.rules.j2
      dest: /etc/audit/rules.d/99_auditd.rules
      owner: root
      group: root
      mode: '0600'
  notify: restart auditd

- name: restart auditd
  ansible.builtin.shell: /usr/sbin/service auditd restart
  when:
      - not rhel8stig_skip_for_travis
      - not rhel8stig_system_is_chroot
      - not system_is_container
      - not change_requires_reboot
      - rhel_08_030181

- name: rebuild initramfs
  ansible.builtin.shell: dracut -f
  when:
      - not system_is_container

- name: undo existing prelinking
  ansible.builtin.shell: prelink -ua

- name: update running audit failure mode
  ansible.builtin.shell: auditctl -f {{ rhel8stig_auditd_failure_flag }}
  failed_when: false

- name: clean up ssh host key
  ansible.builtin.file:
      path: "{{ item }}"
      state: absent
  with_items:
      - /etc/ssh/ssh_host_rsa_key
      - /etc/ssh/ssh_host_rsa_key.pub

- name: init aide and wait
  ansible.builtin.shell: /usr/sbin/aide --init -B 'database_out=file:{{ rhel8stig_aide_temp_db_file }}'
  notify: move aide db

- name: init aide
  ansible.builtin.shell: nohup /usr/sbin/aide --init -B 'database_out=file:{{ rhel8stig_aide_temp_db_file }}' > /dev/null &
  notify: move aide db

- name: move aide db
  ansible.builtin.shell: "mv {{ rhel8stig_aide_temp_db_file }} {{ rhel8stig_aide_db_file }}"
  when: not rhel8stig_aide_db_status.stat.exists or rhel8stig_overwrite_aide_db

- name: dconf update
  ansible.builtin.shell: dconf update
  when:
      - "'dconf' in ansible_facts.packages"
      - rhel8stig_always_configure_dconf
